<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="deptVO" type="com.vo.DeptVO"/>
		<typeAlias alias="empVO" type="com.vo.EmpVO"/>
		<typeAlias alias="bmVO" type="com.vo.BoardMasterVO"/>
		<typeAlias alias="bsVO" type="com.vo.BoardSubVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/mybatis/mapper/member.xml"/>
		<mapper resource="com/mybatis/mapper/board.xml"/>
	</mappers>
</configuration>